@model DACSN.Models.DanhMuc
@{
    ViewBag.Title = "Xoá danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn có chắc muốn xóa danh mục này?</h3>
<br />
<div >
    <h4>Thông tin danh mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left">
            Mã danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDM)
        </dd>

        <dt style="text-align:left">
            Tên danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDM)
        </dd>

    </dl>

    <hr />
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
    }
</div>
@Html.ActionLink("Trở lại trang danh sách danh mục", "Index")

