@model IEnumerable<DACSN.Models.BaiViet>

<style type="text/css">
</style>

<div class="row">
    @foreach (var tintuc in Model)
    {
        <div class="col-lg-12">
            <img src="~/Images/@tintuc.Hinh" style="height:370px;width:650px" />
        </div>
        <div class="col-lg-12">
            <h3><a id="ap" href="@Url.Action("ChiTietTinTuc", "Home", new { id = tintuc.IdBV})">@tintuc.TieuDe</a></h3>
            <p>&#160;&#160;@tintuc.TomTat</p>
        </div>
    }
</div>






