@model IEnumerable<DACSN.Models.DienBienDich>

@{
    ViewBag.Title = "DienBienDich";
   
}


<style type="text/css">
    .home__focus-position {
        height: 530px;
        position: relative;
        top: 0;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .home__focus-position .home__focus-right .swiper-wrapper {
            flex-direction: column;
            background: #f0f8ff;
        }

        .home__focus-position .home__focus-right .swiper-slide {
            height: auto;
            padding-right: 5px;
            border-left: 1px solid rgba(0,0,0,.1);
            padding-top: 22px;
            background: #f0f8ff;
        }

        .home__focus-position .item {
            padding-left: 10px;
            position: relative;
            margin-bottom: 32px;
        }

            .home__focus-position .item .time {
                font-family: 'Merriweather';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                color: #bb1119;
                margin-bottom: 12px;
                margin-left: 40px;
                display: inline-block;
                background: #f0f8ff;
                padding: 0 5px;
                z-index: 2;
                position: relative;
                top: -7px;
            }

            .home__focus-position .item .box-focus-link-title {
                display: block;
                font-family: Arial;
                font-style: normal;
                font-weight: bold;
                font-size: 17px;
                line-height: 140%;
                color: #333;
                margin-bottom: 12px ;
            }

            .home__focus-position .item .box-focus-sapo {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 25px;
                color: #333;
                text-align: justify;
                margin-right: 8px;
            }

                .home__focus-position .item .box-focus-sapo p {
                    padding: 2% 0;
                }
</style>

<div class="home__focus-position layout-positon">
    <div class="swiper-container home__focus-swiper home__focus-right" tabindex="1" style="overflow:hidden; outline:none;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="item active">
                    @foreach (var dienbien in Model)
                    {
                        <div class="time">
                            @dienbien.ThoiGian
                        </div>

                        <div class="box-focus-link-title">
                            @dienbien.TieuDeDB
                        </div>

                        <div class="box-focus-sapo">
                            <p>
                                @dienbien.CauTongKetDB
                            </p>
                            <p>
                                @dienbien.ChiTietDB
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

