
<table id="ketqua" class="table table-striped" >
</table>

<script>
    var listCoursesBlock = document.querySelector('#ketqua')
    fetch('https://static.pipezero.com/covid/data.json')
        .then(res => res.json())
        .then(function (datas) {
            var course1 = datas.locations; var template = `

     <thead >
               <tr class="text-primary">
                         <th> Tỉnh thành </th>
                         <th> Số ca nhiễm </th>
                         <th style="color:red"> Hôm nay </th>
                         <th> Tử vong </th>
                         </tr>
                         </thead>`;
            course1.forEach((element) => {
                template += `
         <tbody>
         <tr>
                 <td style="color:blue"> ${element.name}    </td>
             <td>  ${element.cases}       </td>
             <td style="color:red"> + ${element.casesToday}   </td>
             <td>  ${element.death}       </td>
         </tr>
         </tbody>

     `;
            });
            listCoursesBlock.innerHTML = template;


        })
</script>