@model IEnumerable<DACSN.Models.BaiViet>

<style type="text/css">
</style>

<div class="row">
    @foreach (var video in Model)
    {
    <div class="col-lg-12">
        @Html.Raw(video.LinkVideo)
    </div>
        <div class="col-lg-12">
            <h3><a id="ap" href="@Url.Action("ChiTietTinTuc", "Home", new { id = video.IdBV})">@video.TieuDe</a></h3>
            <p>&#160;&#160;@video.TomTat</p>
        </div>
    }
</div>
