@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNhanVien.cshtml";
}

<style type="text/css">
</style>
<div class="img-background" style="text-align:center">


    <img src="~/Images/Logobinhduong.png" width="500px">
    <h1 class="slogan2 mt-3 keep-text-desaturate">Bình Dương</h1>
    <h2 class="slogan1 keep-text-desaturate">TRANG TIN VỀ DỊCH BỆNH VIÊM ĐƯỜNG HÔ HẤP CẤP COVID-19</h2>
</div>

